
@import "plugins/reset.css";
@import "plugins/bootstrap-grid.css";

body {
    line-height: 1.2;
    letter-spacing: -0.025em;
    background-color: #e9e7e7;
}

body.toggler-open {
    overflow: hidden;
}

.row {
    justify-content: normal;
}

@media (min-width: 768px) {
    .w-lg-100 { width: 100% !important; }
}

@media (min-width: 1200px) {
    .w-xl-0 { width: 0 !important; }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1230px;
    }
}

@media (min-width: 768px) {
    .justify-content-md-end {
        justify-content: end;
    }
}

@media (min-width: 1200px) {
    .justify-content-xl-normal {
        justify-content: normal;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Cardo", serif;
    font-weight: 700;
    color: #232323;
}

p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16.7px;
    color: #232323;
}

.button-link {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 20.8px;
    padding: 0 54px;
    line-height: 50px;
    border-radius: 5px;
}

button {
    font-family: "Lato", sans-serif;
    font-weight: 900;
}
